<div class="header_area">
    <app-header></app-header>
</div>
<div class="score_area">
    <app-scoreboard></app-scoreboard>
</div>
<!-- Upper leaderboard adverts -->
<div class="up-ad-holder">
    <div class="leaderboard-holder">
            <app-leaderboardad></app-leaderboardad>
    </div>
    <div class="mobilead-holder">
            <app-mobilead></app-mobilead>
    </div>
        
    <div class="mediumleaderboard-holder">
            <app-mediumleaderboard></app-mediumleaderboard>
    </div>
</div>
<hr>

<!-- End of upper leaderboard adverts -->
<div class="congrats_area">
    <p>Congratulation body goes here</p>
</div>
<div class="footer_area">
    <app-footer></app-footer>
</div>