
<body>
<div class="header_area">
    <app-header></app-header>
</div>
<div class="score_area">
    <app-scoreboard></app-scoreboard>
</div>
<!-- Upper leaderboard adverts -->
<div class="up-ad-holder">
    <div class="leaderboard-holder">
            <app-leaderboardad></app-leaderboardad>
    </div>
    <div class="mobilead-holder">
            <app-mobilead></app-mobilead>
    </div>
        
    <div class="mediumleaderboard-holder">
            <app-mediumleaderboard></app-mediumleaderboard>
    </div>
</div>
<hr>

<!-- End of upper leaderboard adverts -->

<!-- start of congratulation page main body -->
<div class="main-area">
    
    <div class="congrat-area">
        <div class="congrat-title">
            <h4>Congratulations!!</h4>
        </div>
        <div class="congrat-body container-fluid">
                <div class="congrat-small-title">
                        <h5>Well Done!</h5>
                    </div>
                    <div class="congratulation-para">
                        <p>You have successfully completed the <span class="congrat-level">Level 3</span> of our Bible Quiz like a GURU with a score of <span class="level-score">345</span></p>
                    </div>
            <div class="trophy">
                    <svg class="bi bi-trophy" width="15em" height="20em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z"/>
                        <path fill-rule="evenodd" d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z"/>
                        <path d="M7 10h2v4H7v-4z"/>
                        <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                    </svg>
            </div>

            <div class="congrat-buttons">
                <a href="#" class="btn btn-info">Share Result</a>
                <a href="#" class="btn btn-indigo">Next Level</a>
            </div>
  
            
        </div>
        
    </div>
    <div class="congrat-ad">
        <div class="ans-squaread">
            <app-squaread></app-squaread>
        </div>
     
        
        <div class="ans-skyscraper">
            <app-skyscraperad></app-skyscraperad>
        </div>
       <div class="ans-largeskycraper">
        <app-largeskyscraper></app-largeskyscraper>
       </div>
    </div>

</div>

</body>
<!-- Footer -->
<div class="footer_area">
    <app-footer></app-footer>
</div>