
  <nav class="navbar navbar-expand-sm bg-light">
     <!-- <a class="navbar-brand" href="#">
        BIBLEGURUQUIZ
        <img src="/src/assets/bible-guru-logo.PNG" width="300" height="30" alt="">
      </a> -->
    
    <div class="logo"></div>

    <!-- Links -->
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#">Guidelines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login/Signup</a>
      </li>
    </ul>
  
  </nav>
  <div class="try">
    <img src="/src/assets/bibleheader2.JPEG" alt="">
  </div>

 
  


