

.logo {
    height: 30px;
    width: auto;
    padding: 10px;
    display: block;
    margin: 0 auto;
    background:url('/src/assets/bible-guru-logo.PNG') no-repeat center center;
}
.nav-link{
    color: #512764;
}
