
  <nav class="navbar navbar-expand-md bg-white">
     <a class="navbar-brand" href="#">
      
        <img class="logo" src="../../assets/biblegurulogo.png"  alt="bible quiz logo">
      </a>
    
    <!-- <div class="logo"></div> -->

    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Guidelines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login/Signup</a>
      </li>
    </ul>
  
  </nav>
 
 
  


