
  <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" href="#">
      <!-- BIBLEGURUQUIZ -->
      <img src="/src/assets/bible-guru-logo.png" width="30" height="30" alt="">
    </a>

    <!-- Links -->
    <ul class="nav nav-tabs justify-content-right">
      <li class="nav-item">
        <a class="nav-link active" href="#">Guidelines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login/Signup</a>
      </li>
    </ul>
  
  </nav>
  


