<div class="header_area">
    <app-header></app-header>
</div>
<div class="score_area">
    <app-scoreboard></app-scoreboard>
</div>
<!-- Upper leaderboard adverts -->
<div class="up-ad-holder">
    <div class="leaderboard-holder">
            <app-leaderboardad></app-leaderboardad>
    </div>
    <div class="mobilead-holder">
            <app-mobilead></app-mobilead>
    </div>
        
    <div class="mediumleaderboard-holder">
            <app-mediumleaderboard></app-mediumleaderboard>
    </div>
</div>
<hr>

<!-- End of upper leaderboard adverts -->

<!-- start of congratulation page main body -->
<div class="main-area">
    
    <div class="endpage-area">
        <div class="endpage-title">
            <h4>The End</h4>
        </div>
        <div class="endpage-body container-fluid">
        <div class="end-small-title">
            <p>Game Over !!!</p>
        </div>
        <div class="endpage-para">
            <p>Well done. You have successfully completed ALL Levels of our Bible Quizzes.</p>
        </div>

        <div class="restart-button">
            <a href="#" class="btn btn-indigo">Restart Game</a>
            <a href="#" class="btn btn-info">Invite a friend</a>
        </div>
            
        </div>
        
    </div>
    <div class="endpage-ad">
        <div class="end-squaread">
            <app-squaread></app-squaread>
        </div>
     
        
        <div class="end-skyscraper">
            <app-skyscraperad></app-skyscraperad>
        </div>
       <div class="end-largeskycraper">
        <app-largeskyscraper></app-largeskyscraper>
       </div>
    </div>

</div>
<!-- Footer -->
<div class="footer_area">
    <app-footer></app-footer>
</div>