/* Question and answer area */
/* Score allocation table area */
.main-area{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: row;
}

.endpage-area{
    width: 66%;
    height: 100%;

}
.endpage-title{
    color: #512764;
    text-align: center;
}
.endpage-ad{
    width: 33%;
    height: 100%;
 
}





/* Mobile phones */
@media screen and (max-width: 480px){
    .main-area{
        width: 100%;
        height: 1350px;
        display: flex;
        flex-direction: column;
    }
    
    .endpage-area{
        width: 100%;
        height: 66%;
    
    }
    .endpage-ad{
        width: 100%;
        height: 33%;
       
    }

    .end-squaread{
        display: block;
        display: flex;
        justify-content: center;
    }

    .end-skyscraper{
        display: none;
    }

    .end-largeskycraper{
        display: none;
        
    }
}



/* Tablet view */
@media screen and (min-width: 481px) and (max-width: 900px){
    .main-area{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: row;
    }
    
    .endpage-area{
        width: 69%;
        height: 100%;
    
    }
    .endpage-ad{
        width: 30%;
        height: 100%;
       
    }

    .end-squaread{
        display: none;
 
    }

    .end-skyscraper{
        display: block;
        display: flex;
        justify-content: center;
    }

    .end-largeskycraper{
        display: none;
        
    }
}


/* Laptop and large screen allocation advert view */
@media screen and (min-width: 901px){
    .main-area{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: row;
    }
    
    .endpage-area{
        width: 69%;
        height: 100%;
    
    }
    .endpage-ad{
        width: 30%;
        height: 100%;
       
    }

    .end-squaread{
        display: none;
 
    }

    .end-skyscraper{
        display: none;
      
    }

    .end-largeskycraper{
        display: none;
        display: flex;
        justify-content: center;
        
    }
}

/* Congratulations body area */
.endpage-body{
    width: 95%;
    height: 80%;
    border: 1px solid #512764;
    display: flex;
    flex-direction: column;
    
}

.end-small-title{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #512764;
}
.endpage-para{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    
}

/* The Continue button */
.restart-button{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    
    
}
.btn-indigo{
    background: #512764;
    color: #F3F2F3;
    margin-right: 5px;
}
.btn-info{
    margin-left: 5px;
}
