<div class="header_area">
    <app-header></app-header>
</div>
<div class="score_area">
    <app-scoreboard></app-scoreboard>
</div>
<!-- Upper leaderboard adverts -->
<div class="up-ad-holder">
    <div class="leaderboard-holder">
            <app-leaderboardad></app-leaderboardad>
    </div>
    <div class="mobilead-holder">
            <app-mobilead></app-mobilead>
    </div>
        
    <div class="mediumleaderboard-holder">
            <app-mediumleaderboard></app-mediumleaderboard>
    </div>
</div>
<hr>

<!-- End of upper leaderboard adverts -->

<!-- start of congratulation page main body -->
<div class="main-area">
    
    <div class="congrat-area">
        <div class="congrat-title">
            <h4>Congratulations !!!</h4>
        </div>
        <div class="congrat-body container-fluid">
  
            
        </div>
        
    </div>
    <div class="congrat-ad">
        <div class="ans-squaread">
            <app-squaread></app-squaread>
        </div>
     
        
        <div class="ans-skyscraper">
            <app-skyscraperad></app-skyscraperad>
        </div>
       <div class="ans-largeskycraper">
        <app-largeskyscraper></app-largeskyscraper>
       </div>
    </div>

</div>
<!-- Footer -->
<div class="footer_area">
    <app-footer></app-footer>
</div>