<div class="header_area">
    <app-header></app-header>
</div>
<div class="score_area">
    <app-scoreboard></app-scoreboard>
</div>
<!-- Upper leaderboard adverts -->
<div class="up-ad-holder">
    <div class="leaderboard-holder">
            <app-leaderboardad></app-leaderboardad>
    </div>
    <div class="mobilead-holder">
            <app-mobilead></app-mobilead>
    </div>
        
    <div class="mediumleaderboard-holder">
            <app-mediumleaderboard></app-mediumleaderboard>
    </div>
</div>
<hr>

<!-- End of upper leaderboard adverts -->
<div class="question-ans-area">
    
        <div class="quiz-area">
            <div class="quiz-title">
                <h4>Quiz Questions</h4>
            </div>
            <div class="question-body container-fluid">
                <div class="question-number">
                    <h5>Question 13:</h5>
                </div>
                <div class="question-ans-board">
                   <div class="current-question-board">
                       <p>What is the name of JESUS's earthly father?</p>
                   </div>
                   <div class="current-ans-board">
                       <div class="wrong-right-alert"><p>Correct Answer !!</p></div>
                       <div class="bible-reference"><p>John 3 vs 16</p></div>
                       <div class="current-ans"><p>Answer: <span class="ans-sentence">Joseph, the capenter.</span></p></div>
                       <div class="current-ans-explanation container-fluid"><p>Explanation: <span class="explanation">Mary the mother of JESUS was bethrothed to Joseph.The role, which made Joseph, JESUS's earthly father.</span> </p></div>
                       
                       
                   </div>
                </div>
                <div class="ans-options"></div>
                
            </div>
            
        </div>
        <div class="quiz-ad">
            <div class="ans-squaread">
                <app-squaread></app-squaread>
            </div>
         
            
            <div class="ans-skyscraper">
                <app-skyscraperad></app-skyscraperad>
            </div>
           <div class="ans-largeskycraper">
            <app-largeskyscraper></app-largeskyscraper>
           </div>
        </div>
    
</div>
<div class="footer_area">
    <app-footer></app-footer>
</div>