<div class="container">
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle class="level1" cx="50" cy="50" r="50"> </circle>
                    <circle class="level1" cx="50" cy="50" r="50"> </circle>
                </svg>
                <div class="number">
                    <h5>90 <span>%</span></h5>
                </div>
            </div>
            <h5 class="text">Level: <span> 1 </span></h5>
        </div>
    </div>
    <!-- Level score -->
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle class="level-score" cx="50" cy="50" r="50"> </circle>
                    <circle class="level-score" cx="50" cy="50" r="50"> </circle>
                </svg>
                <div class="number">
                    <h5>452</h5>
                </div>
            </div>
            <h5 class="text">Level <span> 1 </span> <span>Score</span></h5>
        </div>
    </div>
    <!-- Total score -->
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle class="total-score" cx="50" cy="50" r="50"> </circle>
                    <circle class="total-score" cx="50" cy="50" r="50"> </circle>
                </svg>
                <div class="number">
                    <h5>2788</h5>
                </div>
            </div>
            <h5 class="text">Total Score</h5>
        </div>
    </div>
</div>