<div class="container">
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle class="level1" cx="70" cy="70" r="70"> </circle>
                    <circle class="level1" cx="70" cy="70" r="70"> </circle>
                </svg>
                <div class="number">
                    <h2>90 <span>%</span></h2>
                </div>
            </div>
            <h2 class="text">Level: <span> 1 </span></h2>
        </div>
    </div>
    <!-- Level score -->
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle class="level-score" cx="70" cy="70" r="70"> </circle>
                    <circle class="level-score" cx="70" cy="70" r="70"> </circle>
                </svg>
                <div class="number">
                    <h2>452</h2>
                </div>
            </div>
            <h2 class="text">Level <span> 1 </span> <span>Score</span></h2>
        </div>
    </div>
    <!-- Total score -->
    <div class="card">
        <div class="box">
            <div class="percent">
                <svg>
                    <circle class="total-score" cx="70" cy="70" r="70"> </circle>
                    <circle class="total-score" cx="70" cy="70" r="70"> </circle>
                </svg>
                <div class="number">
                    <h2>2788</h2>
                </div>
            </div>
            <h2 class="text">Total Score</h2>
        </div>
    </div>
</div>