
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Universal style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    /* min-height: 60vh; */
    align-items: center;
    
}
/* Body */

/* body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background: black;
} */

.container{
    position: relative;
    width: 900px;
    height: 160px;
    display: flex;
    flex-direction: row;
    
   
}
.container .card{
    position: relative;
    width: 33%;
    height: 100%;
    justify-content: space-around;
    background: linear-gradient(0deg,#F2EDF7,#CCCBCD,#F2EDF7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;

}
.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px #222;
}

/* .container .card:before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -50px;
    pointer-events: none;
    background: #F3F1F5;
    z-index: 1;
} */

.percent{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px;
    background: #fff;
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h5{
    color: #6A696A;
    font-weight: bold;
    font-size: 22px;
    transition: 0.5s;
}
.card:hover .percent .number h5{
    color: #0a010e;
    font-size: 30px;
}

.percent .number h5 span{
    font-size: 24px;
    color: #6A696A;
    transition: 0.5s;
}

.card:hover .percent .number h5 span{
    color: #0a010e;
}

.text{
    position: relative;
    color: #222;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .text{
    color: #0a010e;
}
svg{
    position: relative;
    height: 120px;
    width: 120px;
    z-index: 1000;
}

svg circle{
    height: 100%;
    width: 100%;
    fill: none;
    stroke: #F2EDF7;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,2px);
}
/* svg .level1{
    height: 100%;
    width: 100%;
    fill: none;
    stroke: red;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg .total-score{
    height: 100%;
    width: 100%;
    fill: none;
    stroke: purple;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
} */


svg circle:nth-child(2){
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
}
.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(220 - (220 * 90) / 100);
    stroke: darkblue;  
}
.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(220 - (220 * 452) / 100);
    stroke: grey;  
}
.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(220 - (220 * 2188) / 100);
    stroke: #512764;  
}
/* Mobile and tablet views */

@media screen and (max-width: 460px){
 
.container{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    
   
}
.container .card{
    position: relative;
    width: 100%;
    height: 33%;
    justify-content: space-around;
    background: linear-gradient(0deg,#F2EDF7,#CCCBCD,#F2EDF7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;

}
}