/* Views of upper leaderboard adverts */
/* Mobile phones */
@media screen and (max-width: 486px){
    .up-ad-holder{
        height: 50px;
        width: 100%;
        text-align: center;
    }
    .leaderboard-holder{
        display: none;
    }
    .mobilead-holder{
        display: block;
        display: flex;
        justify-content: center;
    }

    .mediumleaderboard-holder{
        display: none;
    }
}

/* Tablet leaderboard advert views */
@media screen and (min-width: 487px) and (max-width: 760px){
    .up-ad-holder{
        height: 50px;
        width: 100%;
        text-align: center;
    }
    .leaderboard-holder{
        display: none;
    }
    .mobilead-holder{
        display: none;
    }

    .mediumleaderboard-holder{
        display: block;
        display: flex;
        justify-content: center;
    }
}
/* Upper leaderboard advert on laptops and large screens */

@media screen and (min-width: 761px){
    .up-ad-holder{
        height: 100px;
        width: 100%;
        
    }
    .leaderboard-holder{
        display: block;
        display: flex;
        justify-content: center;
    }
    .mobilead-holder{
        display: none;
    }

    .mediumleaderboard-holder{
        display: none;
    }
}



.guideline-header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.guideline-title, .vertical-line, .play-buttons{
    width: 33%;
    height: 100%;
    text-align: center;
}

.btn-indigo{
    color: whitesmoke;
    background: #512764;
    
}
.btn{
    margin-left: 2px;
    margin-right: 2px;
}

.vertical-line p{
    font-weight: 700;
    color: #512764;
    height: 60px;
}
.guideline-title{
    color: #512764;
}

/* Guideline header views on mobile and tablets */

/* Mobile phone view */
@media screen and (max-width: 577px){
    .guideline-header{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .guideline-title, .play-buttons{
        width: 100%;
        height: 50%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .vertical-line{
        display: none;
    }
}

/* Tablet view */
@media screen and (min-width: 578px) and (max-width: 870px){
    .guideline-header{
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .guideline-title, .play-buttons{
        width: 50%;
        height: 100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .vertical-line{
        display: none;
    }
     
}