<div class="header_area">
    <app-header></app-header>
</div>
<div class="score_area">
    <app-scoreboard></app-scoreboard>
</div>
<!-- Upper leaderboard adverts -->
<div class="up-ad-holder">
        <div class="leaderboard-holder">
                <app-leaderboardad></app-leaderboardad>
            </div>
            <div class="mobilead-holder">
                <app-mobilead></app-mobilead>
            </div>
            <div class="mediumleaderboard-holder">
                <app-mediumleaderboard></app-mediumleaderboard>
            </div>
</div>
<hr>

<!-- End of upper leaderboard adverts -->
<div class="guideline_area">
    <div class="guideline-header">
        <div class="guideline-title">
            <h3>Bible Guru Quiz Guidelines</h3>
        </div>
        <div class="vertical-line">
            <p>|</p>
        </div>
        <div class="play-buttons">
            <a href="#" class="btn btn-secondary">Continue Quiz</a>
            <a href="#" class="btn btn-indigo">Start New Game</a>
        </div>
    </div>

    <div class="guideline-para container-fluid">
        <p>Our Bible quiz game is based on 10 difficulty levels.The higher you go, the more deeper it gets. Higher levels require more attention to detail. Though it may be seen as deep for some people, they only intend to teach and make you pay attention to those Bible verses that are not publicly popular.</p>
        <p>You are required to start from easy to less difficult to difficult to highly difficult levels. i.e: Level 1 before Level 2, etc.</p>
        <p>Since level of difficulties are diffrent, scores are allocated based on the level you are currently playing. Scores can be gained for correct answers and lost for incorrect answers.</p>
    </div>
</div>
<div class="footer_area">
    <app-footer></app-footer>
</div>
