
.flex-container-left{
    height: 600px;
    display: flex;
    flex-direction: column;
    background: gray;
}

.flex-container-right{
    height: 600px;
    display: flex;
    flex-direction: column;
    background: olive;
}
.space-in-between{
    height: 2%;
    background: whitesmoke;
}
.leaderboard-holder{
    height: 20%;
}
.smaller-squares{
    height: 25%;
}

.main-area{
    height: 53%;
}