
.flex-container-left{
    height: 600px;
    display: flex;
    flex-direction: column;
    background: #F4F6F6;
}

.flex-container-right{
    height: 600px;
    display: flex;
    flex-direction: column;
    background: #F4F6F6;
}
.space-in-between{
    height: 1%;
    background: whitesmoke;
}
/* Left area */
.leaderboard-holder{
    height: 18%;
}
.smaller-squares{
    height: 25%;
}

.main-area{
    height: 56%;
    background: url('../../assets/bibleheader1.JPEG') center center no-repeat;
}
/* Right area */
.top-players-list{
    height: 41%;
}
.squaread-holder{
    height: 58%;
}

/* Mobile */

@media screen and (max-width: 768px){
    .leaderboard-holder{
        display: none;
    }
}