
        <div class="header_area">
                <app-header></app-header>
            </div>
            <!-- <div class="score_area">
                <app-scoreboard></app-scoreboard>
            </div> -->
            <div class="home_area container-fluid">
                <div class="row">
                        <div class="col-md-9 flex-container-left">
                            <div class="leaderboard-holder">
                                <app-leaderboardad></app-leaderboardad>
                            </div>
                            <div class="mobilead-holder">
                                <app-mobilead></app-mobilead>
                            </div>
                            <div class="mediumleaderboard-holder">
                                <app-mediumleaderboard></app-mediumleaderboard>
                            </div>
                            <div class="space-in-between"></div>
                            <div class="main-area">
                                
                                        <h1>Unlimited Bible Quiz</h1>
                                        <h3>Learn the Bible in a fun way.... </h3>
                                        <p>100,000+ questions, answers and verses.</p>
                                        <div class="play-button-area">
                                            <a href="#" class="btn" >Play Now</a>
                                        </div>
                                        
                                        <div class="app-buttons">
                                            <a href="#" class="btn-app"> <img src="../../assets/googleplay.png" alt="Download Google app"></a>
                                            <a href="#" class="btn-app"><img src="../../assets/iosstore.png" alt="Download IOS app"></a>
                                        </div>
                                       
                                        
                                
                            </div>
                            <div class="space-in-between"></div>
                            <div class="smaller-squares">
                                <div class="quiz-heading">
                                        <h4>Do Sample Bible Quiz</h4>
                                </div>
<div class="flipcardarea">
        <div class="image-flip" id="card-1" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                <div class="frontside">
                <div class="card">
                <img class="card-img-top img- fluid" src="../../assets/jesus-cross.jpg" alt="When JESUS started his ministry">
                <div class="card-body">
                <h5 class="card-title">Question 1</h5>
                <p class="card-text">How old was JESUS when HE started HIS ministry?</p>
                
                </div>
                </div>
                </div>
                <div class="backside">
                <div class="card">
                <div class="card-header">Luke 3 vs 23</div>
                <div class="card-body">
                <h4 class="card-title">Answer:</h4>
                <p class="card-text">30 Years of age</p>
                <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                </div>
                
                </div>
                </div>
                </div>
                </div>
                <!-- Second card -->
                <div class="image-flip" id="card-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                        <div class="frontside">
                        <div class="card">
                        <img class="card-img-top img- fluid" src="../../assets/joseph.jpg" alt="card image">
                        <div class="card-body">
                        <h5 class="card-title">Question 2</h5>
                        <p class="card-text">How much was Joseph,the son of Jacob sold for?</p>
                        
                        </div>
                        </div>
                        </div>
                        <div class="backside">
                        <div class="card">
                        <div class="card-header">Genesis 37 vs 28</div>
                        <div class="card-body">
                        <h4 class="card-title">Answer:</h4>
                        <p class="card-text">Twenty shekels of silver</p>
                        <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                        </div>
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        <!-- 3rd card -->
                        <div class="image-flip" id="card-3" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                <div class="frontside">
                                <div class="card">
                                <img class="card-img-top img- fluid" src="../../assets/Naaman.jpg" alt="card image">
                                <div class="card-body">
                                <h5 class="card-title">Question 3</h5>
                                <p class="card-text">Which sickness did Namaan, the Aram commander have?</p>
                                
                                </div>
                                </div>
                                </div>
                                <div class="backside">
                                <div class="card">
                                <div class="card-header">2 King 5 vs 1</div>
                                <div class="card-body">
                                <h4 class="card-title">Answer:</h4>
                                <p class="card-text">Leprosy</p>
                                <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                                </div>
                                
                                </div>
                                </div>
                                </div>
                                </div>
                                <!-- fourth card -->
                                <div class="image-flip" id="card-4" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                        <div class="frontside">
                                        <div class="card">
                                        <img class="card-img-top img- fluid" src="../../assets/amos.jpg" alt="card image">
                                        <div class="card-body">
                                        <h5 class="card-title">Question 4</h5>
                                        <p class="card-text">Which town does Amos, the Hebrew prophet come from?</p>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        <div class="backside">
                                        <div class="card">
                                        <div class="card-header">Amos 1</div>
                                        <div class="card-body">
                                        <h4 class="card-title">Answer:</h4>
                                        <p class="card-text">Tekoa</p>
                                        <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                                        </div>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        </div>
</div>
                                
                            </div>
                        </div>
                       
                        <div class="col-md-3 flex-container-right">
                            <div class="top-players-list">
                                <h5>Top Players</h5>
                                <div class="player-list">
                                    <div class="players-left">
                                        <ol>
                                            <li>Rita Chile</li>
                                            <li>Charles Drew</li>
                                            <li>Matthew Kanty</li>
                                            <li>Asuda Kundu</li>
                                            <li>Dim Sunday</li>
                                        </ol>
                                    </div>
                                    <div class="players-right">
                                        <ol>
                                            <li>Mana Chile</li>
                                            <li>Timothy Drew</li>
                                            <li>Matthew Ntunta</li>
                                            <li>Kim Grey</li>
                                            <li>Winnie Mandela</li>
                                        </ol>
                                </div>
     
                                </div>
                            </div>
                            <div class="space-in-between"></div>
                            <div class="squaread-holder">
                                <app-squaread></app-squaread>
                            </div>
                            
                            <div class="skyscraperholder">
                                <app-skyscraperad></app-skyscraperad>
                            </div>
                            <div class="leaderboardside-holder">
                                <app-leaderboardad></app-leaderboardad>
                            </div>
                            <div class="mediumleaderboardside-holder">
                                <app-mediumleaderboard></app-mediumleaderboard>
                            </div>
                        </div>
                </div>
                
            </div>
    

        <div class="space-in-between"></div>
        
        <div class="second-area container-fluid">
            <div class="second-left">
                <div class="second-left-title">
                    <h3>About our Bible Quizzes</h3>
                </div>
                <div class="second-left-para">
                    <p> all the words</p>
                    <p> all the words</p>
                    <p> all the words</p>
                </div>
            </div>
            <div class="second-right">
                <div class="largeskyscraper-second-holder">
                    <app-largeskyscraper></app-largeskyscraper>
                </div>
                    
                <div class="squaread-second-holder">
                    <app-squaread></app-squaread>
                </div>
            </div>
            
        </div>
        <div class="space-in-between"></div>
        <div class="footer_area">
                <app-footer></app-footer>
        </div>

