
        <div class="header_area">
                <app-header></app-header>
            </div>
            <div class="score_area">
                <app-scoreboard></app-scoreboard>
            </div>
            <div class="home_area container-fluid">
                <div class="row">
                        <div class="col-md-8 flex-container-left">
                            <div class="up-ad-holder">
                                    <div class="leaderboard-holder">
                                            <app-leaderboardad></app-leaderboardad>
                                        </div>
                                        <div class="mobilead-holder">
                                            <app-mobilead></app-mobilead>
                                        </div>
                                        <div class="mediumleaderboard-holder">
                                            <app-mediumleaderboard></app-mediumleaderboard>
                                        </div>
                            </div>
                           

                            <div class="space-in-between"></div>
                            <div class="main-area">
                                
                                        <h1>Unlimited Bible Quiz</h1>
                                        <h3>Learn the Bible in a fun way.... </h3>
                                        <p>100,000+ questions, answers and verses.</p>
                                        <div class="play-button-area">
                                            <a href="#" class="btn" >Play Now</a>
                                        </div>
                                        
                                        <div class="app-buttons">
                                            <a href="#" class="btn-app"> <img src="../../assets/googleplay.png" alt="Download Google app"></a>
                                            <a href="#" class="btn-app"><img src="../../assets/iosstore.png" alt="Download IOS app"></a>
                                        </div>
                                       
                                        
                                
                            </div>
                            <div class="space-in-between"></div>
                            <div class="smaller-squares">
                                <div class="quiz-heading">
                                        <h4>Do Sample Bible Quiz</h4>
                                </div>
<div class="flipcardarea">
        <div class="image-flip" id="card-1" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                <div class="frontside">
                <div class="card">
                <img class="card-img-top img- fluid" src="../../assets/jesus-cross.jpg" alt="When JESUS started his ministry">
                <div class="card-body">
                <h5 class="card-title">Question 1</h5>
                <p class="card-text">How old was JESUS when HE started HIS ministry?</p>
                
                </div>
                </div>
                </div>
                <div class="backside">
                <div class="card">
                <div class="card-header">Luke 3 vs 23</div>
                <div class="card-body">
                <h4 class="card-title">Answer:</h4>
                <p class="card-text">30 Years of age</p>
                <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                </div>
                
                </div>
                </div>
                </div>
                </div>
                <!-- Second card -->
                <div class="image-flip" id="card-2" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                        <div class="frontside">
                        <div class="card">
                        <img class="card-img-top img- fluid" src="../../assets/joseph.jpg" alt="card image">
                        <div class="card-body">
                        <h5 class="card-title">Question 2</h5>
                        <p class="card-text">How much was Joseph,the son of Jacob sold for?</p>
                        
                        </div>
                        </div>
                        </div>
                        <div class="backside">
                        <div class="card">
                        <div class="card-header">Genesis 37 vs 28</div>
                        <div class="card-body">
                        <h4 class="card-title">Answer:</h4>
                        <p class="card-text">Twenty shekels of silver</p>
                        <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                        </div>
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        <!-- 3rd card -->
                        <div class="image-flip" id="card-3" ontouchstart="this.classList.toggle('hover');">
                                <div class="mainflip">
                                <div class="frontside">
                                <div class="card">
                                <img class="card-img-top img- fluid" src="../../assets/Naaman.jpg" alt="card image">
                                <div class="card-body">
                                <h5 class="card-title">Question 3</h5>
                                <p class="card-text">Which sickness did Namaan, the Aram commander have?</p>
                                
                                </div>
                                </div>
                                </div>
                                <div class="backside">
                                <div class="card">
                                <div class="card-header">2 King 5 vs 1</div>
                                <div class="card-body">
                                <h4 class="card-title">Answer:</h4>
                                <p class="card-text">Leprosy</p>
                                <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                                </div>
                                
                                </div>
                                </div>
                                </div>
                                </div>
                                <!-- fourth card -->
                                <div class="image-flip" id="card-4" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                        <div class="frontside">
                                        <div class="card">
                                        <img class="card-img-top img- fluid" src="../../assets/amos.jpg" alt="card image">
                                        <div class="card-body">
                                        <h5 class="card-title">Question 4</h5>
                                        <p class="card-text">Which town does Amos, the Hebrew prophet come from?</p>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        <div class="backside">
                                        <div class="card">
                                        <div class="card-header">Amos 1</div>
                                        <div class="card-body">
                                        <h4 class="card-title">Answer:</h4>
                                        <p class="card-text">Tekoa</p>
                                        <div class="card-footer"><a href="#" class="btn btn-indigo btn-md">Start main quiz</a></div>
                                        </div>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        </div>
</div>
                                
                            </div>
                        </div>
                       <!-- Players list -->
                        <div class="col-md-4 flex-container-right">
                            <div class="top-players-list">
                                <h5>Top Players</h5>
                                <div class="player-list">
                                    <div class="players-left">
                                        <ol>
                                            <li>Rita Chile</li>
                                            <li>Charles Drew</li>
                                            <li>Matthew Kanty</li>
                                            <li>Asuda Kundu</li>
                                            <li>Dim Sunday</li>
                                        </ol>
                                    </div>
                                    <div class="players-right">
                                        <ol>
                                            <li>Mana Chile</li>
                                            <li>Timothy Drew</li>
                                            <li>Matthew Ntunta</li>
                                            <li>Kim Grey</li>
                                            <li>Winnie Mandela</li>
                                        </ol>
                                </div>
     
                                </div>
                            </div>
                            <div class="space-in-between"></div>
                            <!--Side Adverts area -->
                            <div class="squaread-holder">
                                <app-squaread></app-squaread>
                            </div>
                         
                            
                            <div class="skyscraperholder">
                                <app-skyscraperad></app-skyscraperad>
                            </div>
                            <div class="leaderboardside-holder">
                                <app-leaderboardad></app-leaderboardad>
                            </div>
                            <div class="mediumleaderboardside-holder">
                                <app-mediumleaderboard></app-mediumleaderboard>
                            </div>
                        </div>
                </div>
                
            </div>
    

        <div class="space-in-between"></div>
        <!-- About the website -->
        <div class="second-area container-fluid">
            <div class="second-left">
                <div class="second-left-title">
                    <h3>About our Bible Quizzes</h3>
                </div>
                <div class="second-left-para">
                    <p> Our Bible quiz website intends to help people test nad increase their knowledge of the Bible.Start learning the Bible in a fun and free way. We have about 100,000 Bible quiz questions and answers for all levels, ages, races and backgrounds. This is a suitable Bible quiz for kids, youths and adults.</p>
                    <p> All our Bible quizzes are automatically scored, with correct answers shown and references to the Bible verses, given.</p>
                    <p> How well do you know the Bible? Check today by answering our Bible Trivia questions.You can share your result to your friends and family on Facebook,Whatsapp,Instagram etc., with just a click of a button.</p>
                    <p>The word of GOD is life. Even if you do not know much, you can start playing and learning today. You will be amazed at your progress in a short period of time.</p>
                    <p>Most of our scripture references are from the King James version since we consider it the most popular.</p>
                    <p>We have thousands of interesting Bible game questions to keep you engaged. Like the saying goes "an ideal mind is the devil's workshop". Even if you go to church all the time and feel that you have good knowledge of the word of GOD, you can still keep yourself company with this interesting online Bible quizzes. Remember what the Bible says in Joshua 1 vs 8: "This book of the law shall not depart out of thy mouth; but thou shall medidate therein day and night, that thou mayest observe to do according to all that is written therein: for then thou shalt make thy way prosperous, and then thou shalt have good success". This means that for a child of GOD to have "good" success, he/she needs to always medidate the word of GOD and confess it. How can one always have the Word of GOD in his heart? You need to keep practising and learning. Our Bible quiz games help you to be close to the Word of GOD in a fun way that wont let you see learning as tedious.</p>
                    <p>To make the online Bible study even more fun, you can invite your friends through social media to come and compete with you. You can imagine how interesting the Bible learning experience will be for both of you.</p>
                    <p>We also publish our top Bible quiz players that want to be challenged.You can also invite them for a challenge. That will be fun!! fun!! fun!!</p>
                    <p>With our 10 difficulty levels, you can check your knowledge with thousands of questions per level.</p>
                    <p>This is not to check your level of Christianity but as a Christian, you need to know how much of the Bible you know and learn more or teach more in Bible quiz competition. </p>
                    <p>Whether you are looking for New Testament Bible quiz or Old Testament Bible quiz, we've got you covered.</p>
                    <p>START THE BIBLE QUIZZES TODAY!!!</p>
                </div>
            </div>
            <!-- About the site advert area -->
            <div class="second-right">
                <div class="largeskyscraper-second-holder">
                    <app-largeskyscraper></app-largeskyscraper>
                </div>
                    
                <div class="squaread-second-holder">
                    <app-squaread></app-squaread>
                </div>
                <div class="skyscraper-second-holder">
                    <app-skyscraperad></app-skyscraperad>
                </div>
            </div>
            
        </div>
        <div class="space-in-between"></div>
        <!-- Area for challenge invite -->
        <div class="challenge-player">
            <div class="challenge-title">
                <h4>Challenge A Top Player</h4>
            </div>
            <div class="challenge-para">
                <p>Invite a top player for quiz challenge. Test your knowledge and learn more.</p>
            </div>
            <div class="challenge-container">
                <!-- First row of players -->
                <div class="first-row">
                    <div class="firstrow-firstcol first-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">David</div>
                        <div class="player-town">Calgary</div>
                        <div class="player-country">Canada</div>
                        <div class="player-points">1668 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                    <div class="firstrow-secondcol first-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">David</div>
                        <div class="player-town">Calgary</div>
                        <div class="player-country">Canada</div>
                        <div class="player-points">1668 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                    <div class="firstrow-thirdcol first-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">David</div>
                        <div class="player-town">Calgary</div>
                        <div class="player-country">Canada</div>
                        <div class="player-points">1668 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                    <div class="firstrow forthcol first-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">David</div>
                        <div class="player-town">Calgary</div>
                        <div class="player-country">Canada</div>
                        <div class="player-points">1668 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                </div>
                <!-- Second row of players -->
                <div class="second-row">
                    <div class="secondrow-firstcol second-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">David</div>
                        <div class="player-town">Calgary</div>
                        <div class="player-country">Canada</div>
                        <div class="player-points">1668 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                    <div class="secondrow-secondcol second-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">David</div>
                        <div class="player-town">Calgary</div>
                        <div class="player-country">Canada</div>
                        <div class="player-points">1668 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                    <div class="secondrow-thirdcol second-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">Doctor</div>
                        <div class="player-town">New York</div>
                        <div class="player-country">USA</div>
                        <div class="player-points">1068 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
                    <div class="secondrow-forthcol second-cols">
                        <div class="player-avatar">
                            <img src="../../assets/avatar.png" alt="Avatar" class="avatar">
                        </div>
                        <div class="username">Ana</div>
                        <div class="player-town">Lagos</div>
                        <div class="player-country">Nigeria</div>
                        <div class="player-points">768 Points</div>
                        <button class="btn btn-secondary"> <a href="#"></a>Challenge</button>
                    </div>
            
                </div>
            </div>
        </div>
        <div class="space-in-between"></div>
        <div class="space-in-between"></div>

        <!-- Footer area -->
        <div class="footer_area">
                <app-footer></app-footer>
        </div>

