
        <div class="header_area">
                <app-header></app-header>
            </div>
            <!-- <div class="score_area">
                <app-scoreboard></app-scoreboard>
            </div> -->
            <div class="home_area container-fluid">
                <div class="row">
                        <div class="col-md-9 flex-container-left">
                            <div class="leaderboard-holder">
                                <app-leaderboardad></app-leaderboardad>
                            </div>
                            <div class="mobilead-holder">
                                <app-mobilead></app-mobilead>
                            </div>
                            <div class="mediumleaderboard-holder">
                                <app-mediumleaderboard></app-mediumleaderboard>
                            </div>
                            <div class="space-in-between"></div>
                            <div class="main-area">main area</div>
                            <div class="space-in-between"></div>
                            <div class="smaller-squares">small squares</div>
                        </div>
                        <div class="col-md-3 flex-container-right">
                            <div class="top-players-list">
                                <h5>Top Players</h5>
                                <div class="player-list">
                                    <div class="players-left">
                                        <ol>
                                            <li>Rita Chile</li>
                                            <li>Charles Drew</li>
                                            <li>Matthew Kanty</li>
                                            <li>Asuda Kundu</li>
                                            <li>Dim Sunday</li>
                                        </ol>
                                    </div>
                                    <div class="players-right">
                                        <ol>
                                            <li>Mana Chile</li>
                                            <li>Timothy Drew</li>
                                            <li>Matthew Ntunta</li>
                                            <li>Kim Grey</li>
                                            <li>Winnie Mandela</li>
                                        </ol>
                                </div>
     
                                </div>
                            </div>
                            <div class="space-in-between"></div>
                            <div class="squaread-holder">
                                <app-squaread></app-squaread>
                            </div>
                        </div>
                </div>
                
            </div>
    



        <div class="footer_area">
                <app-footer></app-footer>
        </div>

